<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>登录</title>
    <link href="css/login.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="div_top">OA日常办公管理系统</div>
<div class="login">
    <div class="message">用户登录</div>
    <div id="darkbannerwrap"></div>

    <form method="post">
        <input name="action" value="login" type="hidden">
        <input name="customerid" placeholder="用户名" required="" type="text" id="user">
        <hr class="hr15">
        <input name="password" placeholder="密码" required="" type="password" id="pass">
        <hr class="hr15">
        <input value="登录" style="width:100%;" type="submit" id="login_btn">
        <hr class="hr20">
        <a onClick="alert('请联系管理员')">忘记密码</a>
    </form>


</div>

<script type="text/javascript" src="js/jquery.js"></script>
<script>
    $(function () {
        $("#login_btn").click(function () {

            var customerid = $("#user").val();
            var password = $("#pass").val();

            if (customerid == "" || customerid.length <= 1) {
                alert("用户名不能为空");
                $("#user").focus();
                return false;
            }
            if (password == "" || password.length < 1) {
                alert("密码不能为空");
                $("#pass").focus();
                return false;
            }
            getUserDep(customerid, password);
            alert(123)
        });

        function getUserDep(customerid, password) {
            $.ajax({
                type: "post",
                url: "http://localhost:8080/common/userinfo/login",
                data: {customerid: customerid, password: password},
                success: function (message) {
                    if (message == "1") {
                        // sessionStorage.setItem("username",JSON.stringify(customerid))
                        window.location.href = 'http://localhost:8080/index?customerid='+customerid;
                        window.event.returnValue = false;
                    } else {
                        alter("密码错误");
                    }
                }

            });
        }
    });

</script>
</body>
</html>