<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<body>
<script type="text/javascript" src="js/jquery.js"></script>
<script>
    var customerid = sessionStorage.getItem("customerid");
    $("#login_btn").click(function (){
        alert(customerid)
        if(!$("#newpass").val().equals($("#confirmpass").val())){
            alert("两次密码输入不一致");
        } else{
            $.ajax({
                type: "post",
                url: "http://localhost:8080/common/userinfo/updatePassword",
                data: {customerid: customerid, password: $("#newpass").val()},
                success: function (message) {
                    if(message == "1"){
                        alert("修改成功")
                    }else{
                        alert("修改失败，请稍后再试")
                    }
                }

            })
        }
    })

</script>

<input name="password" placeholder="输入新密码" required="" type="text" id="newpass">
<hr class="hr15">
<input name="password" placeholder="确认密码" required="" type="text" id="confirmpass">
<hr class="hr15">
<input value="确认" style="width:100%; height: 60px" type="submit" id="login">
<hr class="hr15">
</body>
</html>